@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: hsl(225, 100%, 94%) url("assets/images/pattern-background-mobile.svg") no-repeat;
    background-size: contain;
}

main {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
}

@media (min-width: 500px) {
    main {
        margin: 6rem 2rem;
    }
}

@media (max-width: 300px) {
    .main-img {
        width: 250px !important;
    }
    .para-block p {
        padding: 0px 1.2rem !important;
    }
    .pay-ele {
        margin-left: -8px !important;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background: hsl(225, 100%, 98%);
    border-radius: 15px;
}

.main-img {
    width: 18rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 1.3rem 0;
}

.para-block p {
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    padding: 0 1.9rem;
    line-height: 1.7;
    font-size: 0.8rem;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.pay-block {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.music-ico {
    width: 40px;
}

.pay-ele .annual {
    font-weight: 700;
    font-size: 0.9rem;
    color: black;
    font-family: "Red Hat Display", sans-serif;
}

.pay-ele .dollar {
    font-weight: 100;
    font-size: 0.73rem;
    color: hsl(224, 23%, 55%);
    font-family: "Red Hat Display", sans-serif;
}

.pay-ele {
    margin-left: -15px;
}

.p-change {
    font-size: 0.9rem;
    color: hsl(245, 75%, 52%);
    font-family: "Red Hat Display", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.p-change:hover {
    text-decoration: none;
}

.process-pay-block {
    background: hsl(245, 75%, 52%);
    margin: 0 0 1.5rem 0;
    width: 85%;
    text-align: center;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 0.9rem;
    color: hsl(225, 100%, 94%);
    box-shadow: 0 15px 6px hsl(225, 100%, 94%);
}

.process-pay-block:hover {
    cursor: pointer;
    background: hsla(245, 75%, 52%, 0.7);
}

.last {
    /* padding: 1rem 0; */
    font-family: "Red Hat Display", sans-serif;
    margin: 0 0 1.9rem 0;
}

.last-p {
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
}


/* For desktop view */

@media (min-width: 992px) {
    body {
        background: hsl(225, 100%, 94%) url("assets/images/pattern-background-desktop.svg") no-repeat;
        background-size: contain;
        background-position: top -15vh center;
    }
}